<%- include("header") -%>

    <body>
        <section class="detail">
            <img class="img-detail" src="/img/equipement_sport/<%= produit.id %>.jpg" alt="">
            <div class="text">
                <div class="info-detail">
                    <h1 id="titre-detail">
                        <%= produit.modele %>
                    </h1>
                    <h2>
                        <%= produit.type %>
                    </h2>
                    <h2>
                        <%= produit.marque %>
                    </h2>
                    <h3>
                        <%= produit.description %>
                    </h3>
                    <table>

                        <tr class="ligne-apparente">
                            <td class="colonne-apparente">Unité</td>
                            <td class="colonne-apparente">Mm (ouvert)</td>
                            <td>Mm (fermé)</td>
                        </tr>

                        <tr>
                            <td class="colonne-apparente">LxlxH</td>
                            <td class="colonne-apparente">150x60x180</td>
                            <td>150x60x180</td>
                        </tr>

                    </table>
                </div>

                <div class="etat-detail">
                    <p>
                        <%= produit.etat %>
                    </p>
                    <p class="prix-detail">
                        <%= produit.prix_location %> €
                    </p>
                </div>
            </div>
        </section>

        <div class="bf marg">
            <div>Affichage du prix par...</div>
            <div id="boutons_filtre">
                <button>Jour</button>
                <button>Semaine</button>
                <button>Mois</button>
            </div>
        </div>
        <main class="det">
            <section class="location">
                <h2 class="titre-loc"> Vous voulez louer le produit <b>
                        <%= produit.modele %>
                    </b> de la marque <b>
                        <%= produit.marque %>
                    </b> à
                    <b>
                        <%= produit.prix_location %> €
                    </b> par mois ?
                </h2>
                <form class="form-det">
                    <div class="dat">
                        <label>Date de début
                            <input class="date-input" id="start-date" type="date">
                        </label>
                        <label>Date de fin
                            <input class="date-input" id="end-date" type="date">
                        </label>
                    </div>

                    <div class="question">
                        <p>Avez-vous déjà un compte client ?
                            <input type="radio" id="oui" name="choix" value="oui">
                            <label class="label_details" for="oui">Oui</label>

                            <input type="radio" id="non" name="choix" value="non">
                            <label class="label_details" for="non">Non</label>
                        </p>
                    </div>
                    <div id="form-loc">
                        <div id="haut">
                            <input id="inp-loc" type="text" name="nom" placeholder="  Votre nom">
                            <input id="inp-loc" type="text" name="prenom" placeholder="  Votre prénom">
                        </div>
                        <div id="bas">
                            <input id="inp-loc" type="email" placeholder="  Votre mail">
                            <input id="inp-loc" type="tel" placeholder=" Téléphone">
                        </div>
                    </div>
                    <div class="btn-box">
                        <p class="btn-text">Pour <%= produit.prix_location %>€</p>
                        <input id="inp-sub" class="button" type="submit" value="Louer pour 1 mois">
                    </div>
                </form>

            </section>



        </main>
        <script>
            // récup des éléments
            const startDateInput = document.getElementById('start-date');
            const endDateInput = document.getElementById('end-date');
            const submitButton = document.getElementById('inp-sub');

            // Fonction pour calculer les jours entre deux dates
            function calculateDays() {
                const startDate = new Date(startDateInput.value);
                const endDate = new Date(endDateInput.value);

                // Calcul 
                const differenceInTime = endDate - startDate;

                //jours
                const jourloc = Math.ceil(differenceInTime / (1000 * 60 * 60 * 24));

                // Mise à jour du texte du bouton
                if (jourloc > 0) {
                    submitButton.value = `Louer pour ${jourloc} jours`;
                } else {
                    submitButton.value = "Louer pour "
                }
            }

            // Ajout d'écouteurs d'événements sur les champs de date
            startDateInput.addEventListener('input', calculateDays);
            endDateInput.addEventListener('input', calculateDays);

        </script>
        <script>

            function calculerPrixLocation(duree, prix) {
                let prixTotal;

                // Vérifier si la durée est valide
                if (duree <= 0) {
                    return "La durée doit être supérieure à zéro.";
                }

                if (duree > 30) {
                    return "La durée doit être inférieur à 30 jours.";
                }

                // Appliquer des tarifs dégressifs en fonction de la durée
                if (duree >= 3 && duree < 7) {
                    prixTotal = prix * 0.4; // Prix standard pour une durée courte
                } else if (duree >= 7 && duree < 14) {
                    prixTotal = prix * 0.2; // Réduction de 10% pour 4 à 7 jours
                } else if (duree >= 14 && duree < 30) {
                    prixTotal = prix * 0.1; // Réduction de 10% pour 4 à 7 jours
                } else {
                    prixTotal = 0; // Réduction de 20% pour plus de 7 jours
                }

                // Retourner le prix final 
                return prixTotal;
            }

            // Exemple d'utilisation
            let duree = 5; // Nombre de jours
            let prix = 50; // Prix par jour en euros

            let prixFinal = calculerPrixLocation(duree, prix);
    
        </script>


        <%- include("footer") -%>