<%- include("header") -%>

    <body>
        <main>
            <div id="catalogue_acc">
                <h3>Mes locations</h3>
                <div id="filtre">
                    <p>Filtres</p>
                    <div id="boutons_filtre">
                        <button>Haltères</button>
                        <button>Machines à câble</button>
                        <button>Poids libres</button>
                        <button>Vélos d'exercice</button>
                    </div>
                    <form action="barre_recherche">
                        <input type="search" name="search" placeholder="Rechercher...">
                    </form>
                </div>
            </div>
            <section class="liste">

                <% listeLocations.forEach(function(element){ %>

                    <div class="case">
                        <img src="/img/equipement_sport/banc.png" alt="">
                        <div class="text-info">
                            <div class="liste-gauche" id="gauche">
                                <div id="prix-par">
                                    <p id="prix-loc">
                                        <%= element.prix_location%> €
                                    </p>
                                    <p id="par-mois">/mois</p>
                                </div>
                                <p id="modele">
                                    <%= element.modele%>
                                </p>
                                <p>Loué par :</p>
                            </div>
                            <div class="liste-milieu" id="milieu">
                                <p>Date de début : <%= element.date_debut %>
                                </p>
                                <p>Date de fin : <%= element.date_retour_prevue %>
                                </p>
                            </div>
                            <div class="liste-droit" id="droit">
                                <p class="etat-loc">En cours</p>
                                <button>En savoir plus</button>
                            </div>
                        </div>

                    </div>
                <% }); %>
            </section>

        </main>

        <%- include("footer") -%>